<div class="container-fluid">
  <p class="h3 p-3">{{ arbitroDetail.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ arbitroDetail.imagenArbitro }}"
          alt="{{ arbitroDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt class="bold">Mundiales</dt>
        <dd class="caption" *ngFor="let mundial of arbitroDetail.mundiales">
          <a routerLink="/mundiales/{{ mundial.id }}">{{ mundial.anio }}</a>
         </dd>
        <dt>Nacionalidad</dt>
        <dd>
          <a routerLink="/paises/{{ arbitroDetail.nacionalidad.id }}">{{ arbitroDetail.nacionalidad.nombre }}</a>
        </dd>
        <hr />
        <dt class="bold">Partidos de linea</dt>
        <dd class="caption" *ngFor="let partido of arbitroDetail.partidosLinea">
          <a routerLink="/partidos/{{ partido.id }}">{{ partido.ciudad }} {{ partido.fecha }}</a>
         </dd>
        <hr />
        <dt class="bold">Partidos principal</dt>
        <dd class="caption" *ngFor="let partido of arbitroDetail.partidosPrincipal">
          <a routerLink="/partidos/{{ partido.id }}">{{ partido.ciudad }} {{ partido.fecha }}</a>
         </dd>
      </dl>
    </div>
  </div>
 </div>
