<div class="container-fluid">
  <div class="row">
    <div class="col mb-2" *ngFor="let pais of paises">
          <div class="card p-2" style="width: 15rem; height: 33rem">
              <img
                class="card-img-top"
                src="{{ pais.imgBandera }}"
                alt="{{ pais.nombre}}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ pais.nombre }}</h5>
                  <p class="card-text">ID: [{{ pais.id }}]</p>
              </div>
           </div>
      </div>
   </div>
</div>
