<div class="container-fluid">
  <p class="h3 p-3">{{ entrenadorDetail?.nombre }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ entrenadorDetail?.imgEntrenador}}"
          alt="{{ entrenadorDetail?.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt class="bold">Mundiales</dt>
        <dd class="caption" *ngFor="let equipo of entrenadorDetail.equipos">
          {{ equipo.pais.nombre }}
         </dd>

        <dt>Biografia</dt>
        <dd>{{ entrenadorDetail?.biografia }}</dd>
        <hr />

      </dl>
    </div>
  </div>
</div>
