<div class="container-fluid">
  <div class="table">
    <div class="table table-striped table-bordered table-hover">
      <thead>
        <th>Minuto</th>
        <th>Tipo De Gol</th>
        <th>Jugador</th>
        <th>Partido</th>
      </thead>
      <tbody>
        <tr *ngFor="let gol of goles">
          <td>{{gol.minuto}}</td>
          <td>{{gol.tipoDeGol}}</td>
          <td>{{gol.jugador.nombre}}</td>
          <td>{{gol.partido.id}}</td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
