<div *ngIf="selected">
  <app-Partido-detail [partidoDetail]="selectedPartido"></app-Partido-detail>
</div>

<div class="form-group">
  <label for="search-text">Buscar partido</label>
  <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
    [(ngModel)]="searchText" placeholder="Ingrese la ciudad del partido"
    autofocus>
</div>
<div class="container-fluid">
  <div class="table">
    <div class="table table-striped table-bordered table-hover">
      <thead>
        <th>Ciudad</th>
        <th>Fecha</th>
        <th>Estadio</th>
        <th>Tipo partido</th>
      </thead>
      <tbody>
        <tr *ngFor="let partido of partidos | appFilter: searchText"  (click)="onSelected(partido)">
          <td>{{partido.ciudad}}</td>
          <td>{{partido.fecha}}</td>
          <td>{{partido.estadio}}</td>
          <td>{{partido.tipoPartido}}</td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
