<div *ngIf="selected">
  <app-Entrenador-detail [entrenadorDetail]="selectedEntrenador"></app-Entrenador-detail>
</div>

<div class="container-fluid">
  <div class="table">
    <div class="table-wrapper-scroll-y my-custom-scrollbar table table-striped table-bordered table-hover">
      <thead>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Biografia</th>
      </thead>
      <tbody>
        <tr *ngFor="let entrenador of Entrenadores" (click) = "onSelected(entrenador)">
          <td>{{entrenador.nombre}}</td>
          <td><img src="{{entrenador.imgEntrenador}}" alt="{{entrenador.nombre}}" style = "display:block;height: 20rem;margin-left: auto;margin-right: auto;"></td>
          <td>{{entrenador.biografia}}</td>
        </tr>
      </tbody>
    </div>
  </div>
</div>

